*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/dist/
/sample/*/build/
/src/src/androidMain/jniLibs/
/src/src/jvmMain/resources/natives/
/text_engine/target/
/captures
.externalNativeBuild
.cxx
