*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/benchmark/build/
/dist/
/sample/*/build/
/sample/ios-app/.build/
/sample/ios-app/Frameworks/
/sample/ios-app/Resources/compose-resources/
/sample/ios-app/xtool/
/sample/ios-app/*.xcodeproj/
/src/src/androidMain/jniLibs/
/src/src/jvmMain/resources/natives/
/text_engine/target/
/captures
.externalNativeBuild
.cxx
